@font-face {
    font-family: 'nav';
    src: url("font/HKGrotesk-Regular.woff2");
}

@font-face {
  font-family: 'title';
  src: url("font/Adelphe-GerminalSemiBold.woff2");
}

@font-face {
  font-family: 'blockquote';
  src: url("font/HK_Grotesk_Italic.otf");
}


div.col-md-3 {
  padding-left: 0;
  right: 0;
  position: fixed;
}

.bs-sidenav {
    background-repeat: repeat;
    font-family: 'nav';
    font-size: 13px;
  }

body {
    font-size: 20px;
    /* background-color: rgb(255, 102, 102); */
    color: #000000;
    background-color:rgb(233, 233, 233);
}
  
p > img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: solid 1px rgb(206, 206, 206);
}



b, strong {
  background-color: rgb(247, 255, 129);
  padding: 5px;
  font-weight: normal;
}

ul li {
  list-style:circle;
}

footer {
    display: none;
}

.navbar-default {
    background-color: rgb(232, 232, 232);
    border-bottom: 8px #ebf2f2 solid;
  }

  .navbar {
    font-size: 16px;
    font-weight: 300;
    border: 0;
    font-family: 'nav';
  }  

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(0, 0, 0);
    background-color:  rgb(247, 255, 129);
    font-family: 'title';

  }

  .navbar-default {
    /* background-color: rgb(255, 145, 145); */
    border-bottom: #fff;
    /* border-bottom: solid 1px black; */

  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    font-family: 'title';
    color: black;
    background-color: white;
    font-weight: normal;
  }
  .navbar-default .navbar-nav > li > a {
    color: #090909;
    /* border-left: solid 1px black; */
    /* outline: solid 1px black; */
    font-family: 'title';
    font-size: 20px;

    box-sizing: border-box;
  }

  .navbar-default .navbar-nav > li > a { 
          /* border-right: solid 1px black; */
    /* outline: solid 1px black;
    box-sizing: border-box; */
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    /* background-color: rgb(218, 255, 169); */
    box-sizing: border-box;
    
  }

  .navbar-default .navbar-brand {
    color: #000;
  }

  .bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 5px solid;
  }

  .bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
    border-right: 5px solid;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    font-weight: 900;
    
  }

  h1, .h1 {
    font-size: 1.6em;
  }

  h2, .h2 {
    font-size: 1.4em;
    /* background-color: white; */
  }

  h3 {
    font-size: 1.2em;
    text-decoration: underline solid 1px black;
  }

  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border: 1px dotted #000000;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  a:hover, a:focus {
    color: #000000;
    text-decoration: underline;
  }

  a {
    color: black;
    text-decoration: none;
  }

  div.col-md-9 a {
    color: black;
    text-decoration: underline dotted 1px;
  }

  div.col-md-9 a:hover {
    color: black;
    text-decoration: none;
  }


  .navbar > .container .navbar-brand {
    font-family: 'title';
    color: white;
    font-size: 20px;
    background: black;
    font-weight: normal;
}
  div.col-md-9 {
    padding: 50px;
  } 

  .bs-sidebar.affix {
    position: fixed;
    top: 45px;
    max-height: calc(100% - 180px);
    overflow-y: auto;
    right: 0;
  }

  body {
    padding-top: 45px;
    font-family: 'nav';
    line-height: 1.4;
    
  }

  div.col-md-9 {
    padding-bottom: 100px;
    /* background: white; */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'nav';
    color: rgb(0, 0, 0);
    font-weight: normal;
  }

  .bs-sidenav {
    background-image: none;
    font-family: 'nav';
    font-size: 15px;
    background-color: aquamarine;
    color: white;
    border-radius: 0px;
}

  h1 {
    font-family: "title";
    /* text-decoration: underline 3px; */
    line-height: 1.5em; 
    font-weight: normal;
  }

  blockquote p{
    color: black;
    font-size: 20px;
line-height: 1.4;
font-family: "blockquote";

    
  }

  blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    /* border: 2px dotted #000; */
    background-color: white;
  }

  h2 {
    font-family: "title";
    line-height: 1.3;
    }


  .container {
    width: 1370px;
  }

  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-right: 30%;
  }